/*!
 * @preserve
 * @link:________________www.xxx.de
 * @namespace:___________JM_
 * @function:____________site style settings mobile first
 * @date:________________fullbuild: Thu Sep 15 2016 10:53:29 GMT+0200 (CEST)
 */
@-webkit-keyframes gradientAnim {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

@-moz-keyframes gradientAnim {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

@keyframes gradientAnim {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

@font-face {
  font-family: 'Bebas';
  src: url("https://www.solebots.com/fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.solebots.com/fonts/bebasneue-webfont.woff") format("woff"), url("http://fonts.solebots.com/bebasneue-webfont.ttf") format("truetype"), url("http://fonts.solebots.com/bebasneue-webfont.svg#Bebas") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merri';
  src: url("https://www.solebots.com/fonts/merriweather-regular-webfont.woff2") format("woff2"), url("https://www.solebots.com/fonts/merriweather-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**
 * GRID breakpoint for smartphone devices (default)
 */
/**
 * GRID breakpoint for tablet devices
 */
/**
 * GRID breakpoint for tablet devices
 */
/**
 * GRID breakpoint for desktop devices
 */
/**
 * GRID breakpoint for desktop devices large
 */
/*-----|| @import: basic settings ||-------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----|| webfonts ||----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----|| custom global definitions ||-----------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
html {
  font-family: "Bebas", Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto !important; }
  body.noscroll {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden; }

.JM_OBJ_area-dc * {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a, input, button {
  /* prevent zooming */
  -ms-touch-action: none !important; }

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
  outline: 0;
  cursor: pointer; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* prevent browser custom appearance */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * clearfix
 */
.clearfix:before,
.clearfix:after {
  /* clearfix-method without additional markup. needs surrounding element. */
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.JM_no-wrap {
  white-space: nowrap; }

/*-----|| @import: modules ||--------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.SB_MOD_NM_4-0-footer {
  margin: 0px;
  padding: 0px; }

.SB_MOD_NM_1-0-header .SB_header {
  width: 90px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px; }

.SB_MOD_SB_main {
  font-family: "Bebas", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 10%;
  padding-right: 10%;
  color: #FFF; }
  .SB_MOD_SB_main input[type="checkbox"] ~ label {
    position: relative;
    padding-left: 25px; }
    .SB_MOD_SB_main input[type="checkbox"] ~ label:hover {
      cursor: pointer; }
    .SB_MOD_SB_main input[type="checkbox"] ~ label:before {
      content: " ";
      width: 18px;
      height: 18px;
      background: white;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 500; }
  .SB_MOD_SB_main input[type="checkbox"]:checked ~ label:before {
    content: " ";
    background-image: url(../img/ci/checkmark.svg);
    background-repeat: no-repeat;
    background-size: 9px 9px;
    background-position: 5px; }
  .SB_MOD_SB_main .SB_settings {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 15px; }
    .SB_MOD_SB_main .SB_settings:last-of-type {
      border-bottom: 0px; }
    .SB_MOD_SB_main .SB_settings p {
      margin-bottom: 10px;
      display: block;
      letter-spacing: 1px; }
      .SB_MOD_SB_main .SB_settings p:first-child {
        border-bottom: 2px solid #FFF;
        padding-bottom: 3px;
        margin-bottom: 12px; }
    .SB_MOD_SB_main .SB_settings .SB_input {
      display: block;
      *zoom: 1; }
      .SB_MOD_SB_main .SB_settings .SB_input:before, .SB_MOD_SB_main .SB_settings .SB_input:after {
        content: "";
        display: table; }
      .SB_MOD_SB_main .SB_settings .SB_input:after {
        clear: both; }

.SB_supreme_extension {
  background: #ef0020; }

#background-image-container {
  display: none !important; }

#header {
  height: auto !important;
  margin: 0 !important; }
  #header hgroup {
    position: static !important;
    margin-left: auto !important;
    width: auto !important; }
  #header time {
    display: none !important; }

.logo {
  overflow: visible !important;
  height: auto !important;
  background: none !important;
  margin: 30px !important;
  margin-top: 50px !important; }
  .logo:before {
    width: 0 !important;
    height: 0 !important;
    display: none !important; }
  .logo a {
    padding: 0px !important; }

nav ul li a span, nav ul li a {
  color: black !important;
  font-family: 'Bebas';
  font-size: 24px;
  transition: all 300ms ease-in-out; }
  nav ul li a span:focus, nav ul li a span:hover, nav ul li a span:active, nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    background: transparent !important; }
    nav ul li a span:focus span, nav ul li a span:hover span, nav ul li a span:active span, nav ul li a:focus span, nav ul li a:hover span, nav ul li a:active span {
      background: transparent !important;
      border-bottom: 2px solid black !important; }

nav ul li a span {
  border-bottom: 2px solid transparent !important; }

.SB_so-hide .turbolink_scroller article.SB_st-soldout {
  display: none !important; }

.home {
  background: url("http://img.solebots.com/ss16-1.jpg") !important;
  background-position: center left !important;
  background-size: cover !important;
  height: auto !important;
  min-width: 0px !important; }
  .home #wrap {
    margin: 0 !important; }
  .home nav {
    margin: 0 !important;
    padding: 0px !important;
    padding-left: 30px !important;
    padding-top: 15px !important; }

#nav {
  width: 100% !important;
  text-align: center; }
  #nav nav {
    display: inline-block; }
    #nav nav li {
      margin-right: 20px !important; }

#collections-container {
  top: 35px !important; }

.sold_out_tag {
  transition: all 300ms ease-in-out !important;
  display: block !important;
  background: #ff0000 !important;
  color: #FFF !important; }

.stores #wrap {
  width: 50% !important; }

.stores article, .stores .article {
  margin-right: 20px !important; }
  .stores article .overlay, .stores .article .overlay {
    display: none !important; }

.stores #store-modal-background .spacer {
  height: 40% !important; }

#nav-exit {
  display: none !important; }
  #nav-exit li {
    color: transparent; }

#current-lang {
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 19px !important; }

#language-setter {
  margin-top: 24px; }

#cart {
  position: absolute !important; }

.products.view-all #header hgroup {
  float: left; }

.products.view-all .sidebar {
  opacity: 0;
  transition: all 300ms ease-in-out; }
  .products.view-all .sidebar.SB_st-visible {
    opacity: 1; }
  .products.view-all .sidebar li {
    font-family: "Courier New",Courier,Monaco !important; }

.products.view-all #cart {
  position: relative !important; }

.products #wrap {
  width: 100% !important;
  height: auto !important;
  padding: 0px !important;
  margin: 0px !important; }

.products article .inner-article:hover a {
  border: none !important; }

.products article a {
  border: none !important; }

.products #nav-categories li {
  text-align: left !important;
  margin-bottom: 1.36364em !important; }
  .products #nav-categories li a {
    border-bottom: 2px solid transparent !important; }
    .products #nav-categories li a:hover, .products #nav-categories li a.current {
      border-bottom: 2px solid black !important; }

.products .sidebar {
  position: relative !important;
  width: 20% !important;
  padding-left: 30px !important;
  float: left !important; }

.products .turbolink_scroller {
  width: 75% !important;
  float: left;
  margin: 0 auto !important;
  height: auto !important;
  overflow: visible !important; }
  .products .turbolink_scroller article {
    width: 120px !important;
    height: 120px !important;
    display: block !important;
    float: left !important;
    margin-bottom: 30px !important;
    margin-right: 30px !important; }
    .products .turbolink_scroller article a {
      padding: 0px !important;
      background: transparent !important; }
    .products .turbolink_scroller article img {
      width: 120px !important;
      height: 120px !important; }

#details {
  width: auto !important; }
  #details .styles li {
    float: right !important; }
  #details .price {
    text-align: right !important; }
    #details .price span {
      font-size: 20px !important;
      font-family: "Bebas", Arial, Helvetica, sans-serif !important; }
  #details h1:first-child {
    text-align: right !important; }
  #details .style {
    text-align: right !important; }
  #details .description {
    text-align: right !important; }
  #details form b.continue, #details form b.sold-out, #details form a.continue, #details form a.sold-out {
    float: right !important; }
  #details form b.sold-out, #details form a.sold-out {
    margin-left: 15px !important; }
  #details form fieldset {
    text-align: right !important; }
    #details form fieldset .next {
      position: relative !important;
      left: auto !important;
      right: 0px !important;
      margin: 0 !important;
      width: auto !important;
      display: inline-block !important; }
  #details form a:hover, #details form a:focus {
    background-color: transparent !important;
    color: #000 !important; }
  #details form #add-remove-buttons {
    width: 100% !important; }
    #details form #add-remove-buttons a {
      width: auto !important;
      padding: 5px 15px !important; }
    #details form #add-remove-buttons input {
      padding-left: 15px !important;
      padding-right: 15px !important;
      width: auto !important; }

.shipping #wrap, .terms #wrap, .faq #wrap, .sizing #wrap, .show #wrap {
  width: 75% !important;
  max-width: 900px !important;
  overflow: visible !important;
  margin: 0 auto !important; }
  @media (min-width: 1300px) {
    .shipping #wrap, .terms #wrap, .faq #wrap, .sizing #wrap, .show #wrap {
      width: 55% !important; } }
  @media (min-width: 1500px) {
    .shipping #wrap, .terms #wrap, .faq #wrap, .sizing #wrap, .show #wrap {
      width: 45% !important; } }
  .shipping #wrap .blurb, .terms #wrap .blurb, .faq #wrap .blurb, .sizing #wrap .blurb, .show #wrap .blurb {
    height: auto !important;
    margin-bottom: 20px !important; }

.show #wrap {
  margin-bottom: 25px !important;
  width: 90% !important; }
  @media (min-width: 870px) {
    .show #wrap {
      width: 70% !important; } }
  @media (min-width: 1300px) {
    .show #wrap {
      width: 50% !important; } }

.show article {
  width: 70% !important; }
  .show article figure {
    margin-right: 0px !important;
    width: 100% !important; }
    .show article figure img {
      max-width: 100% !important; }

.show #details {
  width: 30% !important; }
  .show #details .description {
    width: 100% !important; }

.show #img-main {
  margin: 0 !important; }

/*-----|| @import: plugins ||--------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*# sourceMappingURL=JM_global.css.map */
