/*!
 * @preserve
 * @link:________________www.xxx.de
 * @namespace:___________JM_
 * @function:____________enhanced site style settings for other breakpoints
 * @date:________________fullbuild: Thu Sep 15 2016 10:53:29 GMT+0200 (CEST)
 */
@-webkit-keyframes gradientAnim {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

@-moz-keyframes gradientAnim {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

@keyframes gradientAnim {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

@font-face {
  font-family: 'Bebas';
  src: url("https://www.solebots.com/fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.solebots.com/fonts/bebasneue-webfont.woff") format("woff"), url("http://fonts.solebots.com/bebasneue-webfont.ttf") format("truetype"), url("http://fonts.solebots.com/bebasneue-webfont.svg#Bebas") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merri';
  src: url("https://www.solebots.com/fonts/merriweather-regular-webfont.woff2") format("woff2"), url("https://www.solebots.com/fonts/merriweather-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**
 * GRID breakpoint for smartphone devices (default)
 */
/**
 * GRID breakpoint for tablet devices
 */
/**
 * GRID breakpoint for tablet devices
 */
/**
 * GRID breakpoint for desktop devices
 */
/**
 * GRID breakpoint for desktop devices large
 */

/*# sourceMappingURL=JM_global-enhanced.css.map */
