<button type="{{btn-type}}" class="JM_OBJ_ui-btn JM_OBJ_ext-cl-cta">
    <span class="JM_OBJ_def-text">{{text}}</span>
</button>
<!-- an anker tag can also be used depending of the use case -->
<!-- <a href="#" class="JM_OBJ_ui-btn JM_OBJ_ext-cl-cta">
    <span class="JM_OBJ_def-text">{{text}}</span>
</a> -->