/**
 * global element objects
 */

/*-----|| object page surround ||-----*/
.JM_OBJ_area-dc {
    max-width: $max-ct-width;
    margin: 0 auto;
}

/*-----|| object page areas ||-----*/
.JM_OBJ_el-area {

}

/*-----|| object page sections ||-----*/
.JM_OBJ_el-section {

}

/*-----|| object divider ||-----*/
.JM_OBJ_el-divider {
    background: $cl-primary;
    border: none;
    height: 1px;
    display: block;
    margin: 40px 0;
}