@media print {

/*-----|| global font definitions ||-------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
    body {
        padding:0;
        background: none;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    * { /* basic font family/groundcolor */
        color:#000;
        font:10pt Arial, sans-serif;
        /*quotes: "\201E" "\201C" "\201A" "\2018";*/
    }
    h1, h2, h3, h4, h5, h6 { /* no page-break after headings */
        page-break-after:avoid;
    }
    a:link, a:visited, a:active, a:focus { /* basic link groundcolor */
        text-decoration:underline;
        color:#9B9B9B;
    }
    a[href^=http]:after { /* set urls visible after links --> modern browsers */
        /* content:" <"attr(href)">";
        background-color:inherit;
        color:#369;
        font-style:italic; */
    }
    *[cite]:after {
        content:close-quote" (Quelle: "attr(cite)")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    img {
        max-width: 100% !important;
        width: auto !important;
    }
    q:before, blockquote:before {
        content:open-quote;
    }
    q:after, blockquote:after {
        content:close-quote;
    }

    @page {
        margin: 2cm 1cm;
    }

/*-----|| hide areas ||--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
    .JM_area-hd
    {
        display:none;
    }

/*-----|| page areas ||--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

    /*-----|| area document ||-----*/
    .JM_area-dc {
        width:100% !important;
        margin:0 !important;
        padding:0 !important;
    }


/*-----|| text objects ||------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


/*-----|| ui objects ||--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


/*-----|| element objects ||---------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/



}

/*-----|| for webkit only (yet) ||-----*/
@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}
