/**
 * global ux objects
 */

 /*-----|| image preloading ||-----*/
.JM_js-load {
    .JM_img-item {
        opacity: 0;
        @include transition(opacity 1000ms ease);
    }
}
.JM_st-loaded {
    .JM_img-item {
        opacity: 1;
    }
}
.JM_OBJ_ux-imagepreloader {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    margin: -5% 0 0 -5%;
    width: 10%;
    height: auto;
    padding-top: 10%;
    background: url(../img/bg/JM_preloader.svg) center center no-repeat;
    background-size: 100% auto;
    @include transition(opacity 500ms ease);
    .JM_no-svg & ,
    .JM_no-smil & {
        background-image: url(../img/bg/JM_preloader.gif);
    }
    .JM_st-loading & {
        opacity: 1;
    }
    .JM_st-loaded & {
        opacity: 0;
    }
}
/* .JM_js-load .JM_OBJ_ux-imagepreloader {
    .JM_img-item {
        opacity: 0;
        @include transition(opacity 1000ms ease, transform 800ms ease-out, background-position 500ms);
    }
    .JM_img-item {
        //@include transform(scale(1.1));
        //@include transition(transform 600ms $easeOutQuint);
    }
    // loading handling
    &.JM_st-loading {
        position: relative;
        &:before {
            content:"";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 44px;
            height: 44px;
            margin: -22px 0 0 -22px;
            z-index: 1;
            @include animation(rotate 0.8s steps(8) infinite);
        }
    }
    &.JM_st-loaded {
        .JM_img-item{
            opacity: 1;
            //@include transform(scale(1));
        }
        background-color: #fff;
    }
} */