
.SB_MOD_NM_1-0-header {
    .SB_header {
        width: 90px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.SB_MOD_SB_main {
    font-family: $font-reg;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
    color: #FFF;

    input[type="checkbox"] ~ label {
        position: relative;
        padding-left: 25px;
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: " ";
            width: 18px;
            height: 18px;
            background: white;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 500;
        }
    }

    input[type="checkbox"]:checked ~ label {
        &:before {
            content: " ";
            background-image: url(../img/ci/checkmark.svg);
            background-repeat: no-repeat;
            background-size: 9px 9px;
            background-position: 5px;
        }
    }


    
    .SB_settings {
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 15px;
        &:last-of-type {
            border-bottom: 0px;
        }
        p {
            margin-bottom: 10px;
            display: block;
            letter-spacing: 1px;
            &:first-child {
                border-bottom: 2px solid #FFF;
                padding-bottom: 3px;
                margin-bottom: 12px;
            }
        }
        .SB_input {
            display: block;
            @include clearfix;
        }


    }
}

.SB_supreme_extension {
    background: #ef0020;
}





// WEBSITE TRANSFORM


#background-image-container {
    display: none !important;
}
#header {
    height: auto !important;
    margin: 0 !important;
    hgroup {
        position: static !important;
        margin-left: auto !important;
        width: auto !important;
    }
    time {
        display: none !important;
    }
}

 .logo {
    overflow: visible !important;
    height: auto !important;
    background: none !important;
    margin: 30px !important;
    margin-top: 50px !important;
    &:before {
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }
    a {
        padding: 0px !important;
    }
}

nav ul li a span, nav ul li a  {
    color: black !important;
    font-family: 'Bebas';
    font-size: 24px;
    transition: all 300ms ease-in-out;
    &:focus, &:hover, &:active {
        background: transparent !important;
        span {
            background: transparent !important;
            border-bottom: 2px solid black !important;
        }
    }
}

nav ul li a span {
    border-bottom: 2px solid transparent !important;
}


.SB_so-hide {
    .turbolink_scroller {
        article {
            &.SB_st-soldout {
                display: none !important;
            }
        }
    }
}

.home {
    background: url('http://img.solebots.com/ss16-1.jpg') !important;
    background-position: center left !important;
    background-size: cover !important;
    height: auto !important;
    min-width: 0px !important;
    #wrap {
        margin: 0 !important;
    }

    nav {
        margin: 0 !important;
        padding: 0px !important;
        padding-left: 30px !important;
        padding-top: 15px !important;
    }
}

#nav {
    width: 100% !important;
    text-align: center;
    nav {
        display: inline-block;
        li {
            margin-right: 20px !important;
        }
    }
}

#collections-container {
    top: 35px !important;
}

.sold_out_tag {
    transition: all 300ms ease-in-out !important;
    display: block !important;
    background: $cl-primary !important;
    color: $white !important;
}

.stores {
    #wrap {
        width: 50% !important;
    }
    article, .article {
        margin-right: 20px !important;
        .overlay {
            display: none !important;
        }
    }

    #store-modal-background {
        .spacer {
            height: 40% !important;
        }
    }
}


#nav-exit {
    display: none !important;
    li {
        color: transparent;
    }
}

#current-lang {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 19px !important;
}

#language-setter {
    margin-top: 24px;
}

#cart {
    position: absolute !important;
}

.products {

    &.view-all {
        #header {
            hgroup {
                float: left;
            }
        }
        .sidebar {
            opacity: 0;
            transition: all 300ms ease-in-out;
            &.SB_st-visible {
                opacity: 1;
                // width: 100% !important;
            }
            li {
                font-family: "Courier New",Courier,Monaco !important;
            }
        }

        #cart {
            position: relative !important;
        }
    }
    #wrap {
        width: 100% !important;
        height: auto !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    
    article .inner-article:hover a {
        border: none !important;
    }

    article a {
        border: none !important;
    }

    #nav-categories {
        li {
            text-align: left !important;
            margin-bottom: 1.36364em !important;
            a {
                border-bottom: 2px solid transparent !important;
                &:hover, &.current {
                    border-bottom: 2px solid black !important;
                }
            }
        }
    }

    .sidebar {
        position: relative !important;
        width: 20% !important;
        padding-left: 30px !important;
        float: left !important;
    }

    .turbolink_scroller {
        width: 75% !important;
        float: left;
        margin: 0 auto !important;
        height: auto !important;
        overflow: visible !important;
        article {
            width: 120px !important;
            height: 120px !important;
            display: block !important;
            float: left !important;
            margin-bottom: 30px !important;
            margin-right: 30px !important;
            // &:nth-child(5n+6) {
            //  margin-right: 0px;
            //  clear: both;
            // }
            a {
                padding: 0px !important;
                background: transparent !important;
            }
            img {
                width: 120px !important;
                height: 120px !important;
            }
        }
    }
}


#details {
    width: auto !important;

    .styles {
        li {
            float: right !important;

        }
    }

    .price {
        text-align: right !important;

        span {
            font-size: 20px !important;
            font-family: $font-semibold !important;
        }
    }

    h1 {
        &:first-child {
            text-align: right !important;
        }
    }
    
    .style {
        text-align: right !important;
    }

    .description {
        text-align: right !important;
    }

    form {

        b, a {
            &.continue, &.sold-out {
                float: right !important;
            }

            &.sold-out {
                margin-left: 15px !important;
            }
        }

        fieldset {
            text-align: right !important;
            .next {
                position: relative !important;
                left: auto !important;
                right: 0px !important;
                margin: 0 !important;
                width: auto !important;
                display: inline-block !important;
            }
        }

        a {
            &:hover, &:focus {
                background-color: transparent !important;
                color: #000 !important;
            }
        }

        #add-remove-buttons {
            width: 100% !important;
            a {
                width: auto !important;
                padding: 5px 15px !important;
            }
            input {
                padding-left: 15px !important;
                padding-right: 15px !important;
                width: auto !important;
            }
        }
    }
}

.shipping, .terms, .faq, .sizing, .show {
    #wrap {
        width: 75% !important;
        max-width: 900px !important;
        overflow: visible !important;
        margin: 0 auto !important;
        @media (min-width: 1300px){
            width: 55% !important;
        }

        @media (min-width: 1500px){
            width: 45% !important;
        }

        .blurb {
            height: auto !important;
            margin-bottom: 20px !important;
        }
    }
}

.show {
    #wrap {
        margin-bottom: 25px !important;
        width: 90% !important;
        @media (min-width: 870px) {
            width: 70% !important;
        }
        @media (min-width: 1300px){
            width: 50% !important;
        }
    }

    article {
        width: 70% !important;
        figure {
            margin-right: 0px !important;
            width: 100% !important;
            img {
                max-width: 100% !important;
            }
        }
    }

    #details {
        width: 30% !important;
        .description {
            width: 100% !important;
        }
    }

    #img-main {
        margin: 0 !important;
    }

}

