/**
 * global text objects
 */

/*-----|| basics ||-----*/
.JM_OBJ_area-dc * {
    font-family: $font-reg;
    strong, b, .JM_OBJ_txt-bold {
        font-family: $font-bold;
        font-weight:normal;
    }
    h1,h2,h3,h4,h5,h6 {
        font-weight:normal;
    }
}

/*-----|| headlines ||-----*/
.JM_OBJ_text-hl {
    color:$cl-grey-1;
    line-height: 1.33333;
    /* &.JM_OBJ_ext-type-bold {
        font-family: $font-bold;
    } */
    * {
        font-family: inherit;
    }
    &.JM_OBJ_ext-size-super {
        @include font-size($font-supersizme);
        font-family: $font-light;
        margin-bottom: $font-supersizme/2+px;
    }
    &.JM_OBJ_ext-size-xxl {
        @include font-size($font-xxl);
        font-family: $font-light;
        margin-bottom: $font-xxl/2+px;
    }
    &.JM_OBJ_ext-size-xl {
        @include font-size($font-xl);
        font-family: $font-light;
        margin-bottom: $font-xl/2+px;
    }
    &.JM_OBJ_ext-size-l {
        @include font-size($font-l);
        font-family: $font-light;
        margin-bottom: $font-l/2+px;
    }
    &.JM_OBJ_ext-size-m {
        @include font-size($font-m);
        margin-bottom: $font-m/2+px;
    }
    &.JM_OBJ_ext-size-s {
        @include font-size($font-s);
        margin-bottom: $font-s/2+px;
    }
}

/*-----|| lists ||-----*/
.JM_OBJ_text-list-u { // ordered
    @include font-size($font-s);
    margin-bottom: $font-s/2+px;
    color: $cl-grey-2;
    line-height: 1.3333;
    li {
        position: relative;
        list-style-type: none;
        padding-left: 15px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            width: 5px;
            height: 5px;
            background-color: $cl-primary;
        }
    }
}
.JM_OBJ_text-list-o { // ordered
    @include font-size($font-s);
    margin-bottom: $font-s/2+px;
    color: $cl-grey-2;
    line-height: 1.3333;
    counter-reset: item;
    ol {
        counter-reset: item;
    }
    li {
        position: relative;
        list-style-type: none;
        padding-left: 15px;
        li {
            padding-left: 25px;
        }
        &:before {
            content: counters(item, ".")".";
            counter-increment: item;
            color: $cl-grey-2;
            right: 10px;
            @include font-size($font-s);
            line-height: 1.3333;
            margin-right: 100%;
            position: absolute;
            left:0;
        }
    }
}
