<div class="SB_MOD_SB_main">
	<div class="SB_settings">
		
		<p>Settings</p>
		<div class="SB_input">
			<input type="checkbox" name="checkbox" id="hide_sold_out" value="value">
			<label id="sb_hide-so" for="hide_sold_out">Hide Sold-Out Items</label>
		</div>

		<div class="SB_onoff">
			
		</div>
	</div>
</div>