#= include includes/_INC_prepend-header.html

    <body>

        <!-- START document surround -->
        <div class="JM_OBJ_area-dc">

            <a id="top"></a>

             <!-- START module NM_1-0-header -->
            <use src="NM_1-0-header/templates/_MOD_NM_1-0-header" data-context="{}" />
            <!-- END module NM_1-0-header -->

            <!-- START area content -->
            <main class="JM_OBJ_area-ct" role="main">

                <!-- START grid 1 col -->
                <div class="JM_OBJ_grid-cont JM_ext-1 JM_test">
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 1 col -->

                <!-- START grid 12 col -->
                <div class="JM_OBJ_grid-cont JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 12 col -->

                <!-- START grid 6/6 col -->
                <div class="JM_OBJ_grid-cont JM_ext-6 JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 6/6 col -->

                <!-- START grid 3/3/3/3 col -->
                <div class="JM_OBJ_grid-cont JM_ext-3 JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 3/3/3/3 col -->

                <!-- START grid 4/4/4 col -->
                <div class="JM_OBJ_grid-cont JM_ext-4 JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 4/4/4 col -->

                <!-- START grid 4/8 col -->
                <div class="JM_OBJ_grid-cont JM_ext-4-8 JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 4/8 col -->

                <!-- START grid 8/4 col -->
                <div class="JM_OBJ_grid-cont JM_ext-8-4 JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                </div>
                <!-- END grid 8/4 col -->

                <!-- START grid 3/6/3 col -->
                <div class="JM_OBJ_grid-cont JM_ext-3-6-3 JM_test">
                    <div class="JM_col"></div>
                    <div class="JM_col"></div>
                    <div class="JM_col JM_last-child"></div>
                </div>
                <!-- END grid 3/6/3 col -->

            </main>
            <!-- END area content -->

            <!-- START module NM_4-0-footer -->
            <use src="NM_4-0-footer/templates/_MOD_NM_4-0-footer" data-context="{}" />
            <!-- END module NM_4-0-footer -->

        </div>
        <!-- END document surround -->

#= include includes/_INC_append-footer.html
