//////////////////////
///// Sass variables
//////////////////////

$NS: '//@echo PROJECT_NAMESPACE';

// Colors
$cl-primary:         #ff0000;
$cl-primary-light:   lighten($cl-primary, 10%);
$cl-primary-lighter: lighten($cl-primary, 20%);
$cl-primary-dark:    darken($cl-primary, 10%);
$cl-grey-1:          #333;
$cl-grey-2:          #666;
$cl-grey-3:          #ededed;

$white: #FFF;

$cl-ln:              $cl-primary;
$cl-st-hover:        $cl-primary-light;
$cl-st-active:       $cl-primary-dark;
$cl-st-disabled:     $cl-primary-lighter;
$cl-txt:             $cl-grey-2;

// Font sizes
$font-supersizme:       60;
$font-xxl:              46;
$font-xl:               40;
$font-l:                30;
$font-m:                26;
$font-s:                18;
$font-xs:               14;
$font-xxs:              12;

// Font families
$font-reg:          'Bebas', Arial, Helvetica, sans-serif;
$font-semibold:     'Bebas', Arial, Helvetica, sans-serif;
$font-bold:         'Bebas', Arial, Helvetica, sans-serif;

$font-text: 'Merri', Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'Bebas';
  src: url('https://www.solebots.com/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),  url('https://www.solebots.com/fonts/bebasneue-webfont.woff') format('woff'), url('http://fonts.solebots.com/bebasneue-webfont.ttf')  format('truetype'), url('http://fonts.solebots.com/bebasneue-webfont.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Merri';
    src: url('https://www.solebots.com/fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('https://www.solebots.com/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




$font-w-light:          300;
$font-w-reg:            400;
$font-w-medium:         500;
$font-w-bold:           700;
$font-w-extrabold:      800;

// Box Shadows
$default-box-shadow-color    : rgba(0,0,0,0.2);
$default-box-shadow-h-offset : 4px;
$default-box-shadow-v-offset : 4px;
$default-box-shadow-blur     : 0;


// Breakpoints
$bp-sm-to:      767px;
$bp-tb-from:    768px;
$bp-tb-to:      1023px;
$bp-dk-from:    1024px;
$bp-dk-to:      1279px;
$bp-dk-l-from:  1280px;

// max content width
$max-ct-width: 1500px;

// SUSY grid maps
/**
 * GRID breakpoint for smartphone devices (default)
 */
$gutters-default: 4.375/3.4375; //default,
$susy: (
    math: fluid,
    gutter-position: before,
    columns: 12,
    gutters: $gutters-default,
    last-flow: from
);
/**
 * GRID breakpoint for tablet devices
 */
$grid-sm: (
    math: fluid,
    gutter-position: before,
    columns: 12,
    gutters: 4.375/3.4375,
    last-flow: from
);
/**
 * GRID breakpoint for tablet devices
 */
$grid-tb: (
    math: fluid,
    gutter-position: before,
    columns: 12,
    gutters: 2.6041666666666/5.33854166666653,
    last-flow: from
);
/**
 * GRID breakpoint for desktop devices
 */
$grid-dk: (
    math: fluid,
    gutter-position: before,
    columns: 12,
    gutters: 2.734375/5.37109375,
    last-flow: from
);
/**
 * GRID breakpoint for desktop devices large
 */
$grid-dk-l: (
    math: fluid,
    gutter-position: before,
    columns: 12,
    gutters: 2.5/5.546875,
    last-flow: from
);