// Breakpoints
@mixin breakpoint($name) {
  @if $name == "sm" {
    @media (max-width: $bp-sm-to) {
      @content;
    }
  }

  @else if $name == "tb" {
    @media (min-width: $bp-tb-from) {
      @content;
    }
  }

  @else if $name == "dk" {
    @media (min-width: $bp-dk-from) {
      @content;
    }
  }

  @else if $name == "dk-l" {
    @media (min-width: $bp-dk-l-from) {
      @content;
    }
  }

  @else if $name == "portrait" {
    @media (orientation : portrait) {
      @content;
    }
  }

  @else if $name == "landscape" {
    @media (orientation : landscape) {
      @content;
    }
  }
}


// HiDPI
@mixin mq-hidpi {
    @media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 120dpi) {
        @content;
    }
}


@mixin gradient {
background: linear-gradient(214deg,#324f57, #7c7672, #3c5659,  #7f776a);
background-size: 800% 800%;

-webkit-animation: gradientAnim 50s ease infinite;
-moz-animation: gradientAnim 50s ease infinite;
animation: gradientAnim 50s ease infinite;

}

@mixin gradient-error {
  background: linear-gradient(270deg, #e31313, #e35e13);
background-size: 400% 400%;

-webkit-animation: gradientAnim 30s ease infinite;
-moz-animation: gradientAnim 30s ease infinite;
animation: gradientAnim 30s ease infinite;
}

@mixin gradient-options {
background: #4f4e4a; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #4f4e4a 0%, #3b565a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #4f4e4a 0%,#3b565a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #4f4e4a 0%,#3b565a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4e4a', endColorstr='#3b565a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@-webkit-keyframes gradientAnim {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes gradientAnim {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes gradientAnim { 
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}





// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
    *zoom:1;

    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

// rem font sizezs
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue  / 10) + rem;
}

// See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/

// Default font size in pixels if not overridden. */
$baseFontSize: 15;

// Convert PX units to EMs.
// Ex: margin-right: pem(16);
@function pem($pxval, $base: $baseFontSize) {
    $size: $pxval / $base;
  @return #{$size}em;
}

//Used to convert PX to EMs for multiple properties or values or both.
//$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

// Examples:

// @include scale(line-height, 30)
// @include scale(line-height, 30, 16)
// @include scale(width height, 125);
// @include scale(padding, 0 25, 16);
// @include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
// @include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);

@mixin scale($props, $sizes, $base: $baseFontSize) {
    $values: ();
    $sublists: false;
    @each $s in $sizes {
        // unwrap lists for values that have multiple list of values such as text-shadow
        @if type-of($s) == list {
            $sublists: true;
            $vv: ();
            @each $ss in $s {
                $vv: append($vv, if(type-of($ss) == number, #{$ss / $base}em, $ss));
            }
            $values: append($values, join((), $vv));
        } @else {
            $values: append($values, if(type-of($s) == number, #{$s / $base}em, $s));
        }
    }
    $value: join((), $values, if($sublists, comma, space));
    @each $prop in $props { #{$prop}: $value }
}

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}
